.admin-navbar {
  height: 10%;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.admin-navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.inner-admin-navbar {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: row;
}
.inner-admin-left-nav {
  width: 15%;
  height: 100%;
}
.inner-admin-left-nav-img {
  margin-top: 8px;
  width: 90%;
  background-size: cover;
  border-radius: 50%;
}
.inner-admin-right-nav {
  width: 70%;
  height: 100%;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}
.rt-admin {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
}
.rb-admin {
  width: 100%;
  height: 50%;
}
.p-rt-admin {
  font-size: 0.8rem;
  font-weight: 550;
  margin-top: 12px;
}
.p-rb-admin {
  font-size: 0.6rem;
  font-weight: 550;
}
